<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register</title>
  {{ style('/css/app.css') }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    @if(flashMessage('successMessage'))
      <div class="notification is-success">{{ flashMessage('successMessage') }}</div>
    @endif
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <form action="{{route('register.store')}}" method="POST">
          {{ csrfField() }}
          <div class="field">
            <label for="username" class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" name="username" type="text" placeholder="Username" value="{{ old('username', '') }}">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            @if(hasErrorFor('username'))
              <p class="help is-danger">{{ getErrorFor('username') }}</p>
            @endif
          </div>

          <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-success" name="email" type="text" placeholder="Email" value="{{ old('email', '') }}">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            @if(hasErrorFor('email'))
              <p class="help is-danger">{{ getErrorFor('email') }}</p>
            @endif
          </div>

          <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input name="password" class="input is-success" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
            @if(hasErrorFor('password'))
              <p class="help is-danger">{{ getErrorFor('password') }}</p>
            @endif
          </div>

          <!--<div class="field">
            <label for="password" class="label">Repat password</label>
            <div class="control has-icons-left has-icons-right">
              <input name="password" class="input is-success" type="password" placeholder="Repeat password">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>-->

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
