body {
  font-family: $primaryFont;
  font-size: 14px;
}

.router-link-exact-active:not(.navbar-img) {
  background: $blue;
  color: $darkWhite;

  // &:active {
  //   @extend .router-link-exact-active;
  // }
}
