@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap&subset=latin-ext');

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Ubuntu', sans-serif;

h1 {
  font-size: 28px;
  margin: 15px;
}

h2 {
  font-size: 24px;
  margin: 10px 15px;
}

h3 {
  font-size: 20px;
  margin: 10px 15px;
}

h4 {
  font-size: 18px;
  margin: 10px 15px;
}

p {
  font-size: 15px;
}
