@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap&subset=latin-ext');

$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Ubuntu', sans-serif;
